//breakpoints
$media: screen;
$feature: max-width;
$tablet: 767px;
$desktop: 1200px;

@mixin break($breakpoint) {
    @if $breakpoint == desktop {
        @media #{$media} and ($feature: $desktop) {
            @content;
        }
    } @else if $breakpoint == tablet {
        @media #{$media} and ($feature: $tablet) {
            @content;
        }
    }
}
//Website css variables
$main-text: rgb(0, 0, 0);
$background-primary: rgb(216, 216, 216);
$nav-background: rgb(212, 50, 0);
$dev-background: #00d9fffa;
$link-text-color: #fff;
$accent-color: #9a9aff;
//nav vars
$link-hover-color: $accent-color;

//main vars start

//hero section vars
$hero-background-color: rgb(0, 44, 95);
$hero-title: rgb(255, 251, 0);
$hero-gradient-start: rgba(255, 41, 41, 0.52);
$hero-gradient-end: rgba(0, 33, 219, 0.73);
$hero-image: linear-gradient(to bottom, $hero-gradient-start, $hero-gradient-end),
    url(/images/hero-images/Team-X-hero-logo.png);

//welcome section vars
$welcome-bg-color: rgb(163, 163, 163);

//about section vars
$about-bg-color: rgb(0, 2, 105);

//main vars end

//footer vars
$footer-background-color: rgb(0, 23, 49);
$footer-text-color: #fff;
$footer-heading-color: rgb(255, 251, 0);

//top-level rules

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    color: $main-text;
}

section{
    background-color: $about-bg-color;
}

.dev
{
    border: 2px dotted red;
}



.mw-600 {
    max-width: 600px;
}

.mw-200
{
    max-width: 200px;
}

.rel
{
    position: relative;
}



.ta-center
{
    text-align: center;
}

body {
    background-color: $dev-background;
    padding: 0;
    margin: 0;
    font-size: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-align: center;
    color: $link-text-color;
    text-transform: uppercase;
}

.none {
    padding: 0px;
    margin: 0px;
}

.overlay-text
{
    background-color: #00000094;
    color: #fff;
}

//header
header {
    //social icons
    a.icon-link {
        max-width: 25px;
    }

    a.social-link-text {
        color: $link-text-color;
        text-decoration: none;
        &:hover {
            color: $link-hover-color;
        }
    }

    img.social-icon {
        max-width: 25px;
    }

    ul.sticky-social-bar {
        position: fixed;
        bottom: 10%;
        //@debug: 0;
        padding: 0;
        left: -8.75rem;
        z-index: 0;
        display: flex;
        flex-direction: column;
        visibility: visible;
        margin-bottom: 0;
        //margin-left: -8.75rem;
        width: 11.25rem;
        //background-color: #333;
        list-style-type: none;
        z-index: 2;
        height: 6.5em;
        justify-content: center;
    }

    li.social-bar-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        //position: fixed;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        -ms-flex-align: center;
        padding: 0.25rem 0.5rem;
        height: 35px;
        width: 11.25rem;
        background-color: #12141dc7;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;

        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    li.social-bar-item:hover {
        -webkit-transform: translateX(8.5rem);
        -moz-transform: translateX(8.5rem);
        -o-transform: translateX(8.5rem);
        transform: translateX(8.5rem);
    }

    //navbar

    img.nav-logo {
        max-width: 30px;
    }

    .nav-heading {
        margin: 0 auto;
    }

    nav {
        background-color: $nav-background;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        height: 50px;
    }

    .inner {
        max-width: 980px;
        padding: 9px 20px 5px;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .mobile-icon {
        width: 25px;
        height: 14px;
        position: relative;
        cursor: pointer;
        z-index: 2;
    }

    .mobile-icon:after,
    .mobile-icon:before,
    .middle-line {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $link-text-color;
        transition: all 0.4s;
        transform-origin: center;
    }

    .mobile-icon:before,
    .middle-line {
        top: 0;
    }

    .mobile-icon:after,
    .middle-line {
        bottom: 0;
    }

    .mobile-icon:before {
        width: 66%;
    }

    .mobile-icon:after {
        width: 33%;
    }

    .middle-line {
        margin: auto;
    }

    .mobile-icon:hover:before,
    .mobile-icon:hover:after,
    .mobile-icon.active:before,
    .mobile-icon.active:after,
    .mobile-icon.active .middle-line {
        width: 100%;
    }

    .mobile-icon.active {
        position: fixed;
        top: 20px;
    }

    .mobile-icon.active:before,
    .mobile-icon.active:after {
        top: 50%;
        transform: rotate(-45deg);
    }

    .mobile-icon.active .middle-line {
        transform: rotate(45deg);
    }

    .navbar-list {
        display: none;
        width: 100%;
        justify-content: space-between;
        margin: 0;
        padding: 0 40px;
    }

    .navbar-list.mobile {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        display: block;
        height: 100%;
        padding-top: 45px;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .navbar-list li {
        list-style-type: none;
        position: relative;
    }

    .navbar-list li:after {
        display: block;
        content: "";
        border-bottom: solid 3px $accent-color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        background-color: $accent-color;
    }

    .navbar-list li:hover::after {
        transform: scaleX(1);
        transform-origin: 100% 50%;
    }

    .navbar-list a {
        color: $link-text-color;
        text-decoration: none;
        display: flex;
        height: 45px;
        align-items: center;
        padding: 0 10px;
        font-size: 13px;
        border-bottom: 1px solid $accent-color;
        &:hover {
            color: $link-hover-color;
        }
    }

    @media only screen and (min-width: 767px) {
        .mobile-icon {
            display: none;
        }

        .navbar-list {
            display: flex;
            padding: 0;
        }

        .navbar-list a {
            display: inline-flex;
            border-bottom: 0px;
        }
    }
}

//hero section
section#hero {
    position: relative;
    a.hero-button {
        background-color: $nav-background;
        height: 50px;
        width: 200px;
        position: absolute;
        left: 50%;
        top: 85%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 20px;
    }

    .hero-content {
        height: 400px;
    }

    img.hero-image {
        display: block;
        margin: 0 auto;
        object-fit: contain;
        width: 100%;
        height: auto;
    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1.hero-title {
        width: 100%;
        font-size: 15vw;
        text-align: center;
        color: $hero-title;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }

    .hero-title-container {
        padding-left: 30px;
        width: 100%;
    }

    .big-logo {
        background-image: $hero-image;
        background-color: $hero-background-color;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    p.hero-welcome::before {
        font-weight: bold;
    }

    .hero-disappear {
        display: block;
        @include break(tablet) {
            display: none;
        }
    }
}

//welcome section
section#welcome {
    background-color: $welcome-bg-color;
}

//about-section
.otherpage{
    background-color: $about-bg-color;
    overflow-x: hidden;
}

.card-br
{
    position: absolute;
    bottom: -5px;
    right: 10px;
}

//footer
footer {
    background-color: $footer-background-color;

    h2.footer-heading {
        color: $footer-heading-color;
        text-align: center;
        font-weight: 900;
    }

    h3.footer-heading {
        color: $footer-heading-color;
        text-align: center;
        font-weight: 900;
    }

    a.footer-link {
        color: $link-text-color;
        text-decoration: none;
        &:hover {
            color: $link-hover-color;
            background-color: #333;
        }
    }

    ul.footer-list
    {
        padding-bottom: 20px;
    }
}